body {
    background-color: #46178f;
}

#leaderboard {
    max-width: 40%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px blueviolet;
    margin-left: 30%;

}

#leaderboard h1 {
    text-align: center;
}

#leaderboard tr {
    text-align: center;
}

.background-div {
    background-image: url('./img/kahoot_Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin-left: 43%
}

@media only screen and (max-width: 768px) {
    .background-div {
        margin-left: 25%;
    }

    .button {}
}

.button {
    position: absolute;
    left: 43%;
    padding: 1%;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: 2px solid blueviolet;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;

}

button:hover {
    background-color: #46178f;
    color: #fff;
}