.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 100%, 4920px);
}

.questions {
    position: relative;
    height: 30px;
    margin: 2.5px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 2.5px solid;
    border-radius: 8px;

}

.questions:nth-child(8n+2) {
    background-color: #b9e870;
}

.headertext {
    color: white;
}

body {
    background-color: #46178f;
}

.button {
    height: 30px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3a156d;
    border: none;
    border-radius: 15px;
    margin: 2.5px;

}